@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base;

  color: #333;

  main {
    @apply mx-auto my-0 w-full;
  }

  .container {
    @apply mx-auto w-full px-5 md:max-w-4xl md:px-10 lg:max-w-5xl xl:max-w-7xl;
  }

  button.MuiButton-containedPrimary {
    @apply bg-orange hover:bg-orange/90;
  }

  button.MuiButton-containedError {
    @apply bg-red hover:bg-red/90;
  }

  button.MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }

  .text_desc {
    @apply text-gray-light;
  }

  .text_hover {
    @apply cursor-pointer transition-colors hover:text-orange;
  }

  .line_bot {
    @apply relative before:absolute before:bottom-0 before:left-1/2 before:h-1 before:w-4/5 before:-translate-x-1/2 before:bg-orange;
  }

  .full_btn,
  .outline_btn {
    @apply flex cursor-pointer items-center justify-center rounded border border-solid border-orange py-2.5 text-center text-[16px] font-semibold leading-none transition hover:opacity-90;
  }

  .full_btn {
    @apply bg-orange text-white;
  }

  .outline_btn {
    @apply bg-white font-semibold text-orange hover:bg-orange hover:text-white;
  }

  .ivu-icon {
    @apply block text-center text-[16px] font-normal not-italic leading-none transition;

    font-family: var(--font-Ionicons);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.ivu-icon-md-arrow-round-forward {
      @apply before:content-["\f347"];
    }

    &.ivu-icon-md-arrow-forward {
      @apply before:content-["\f344"];
    }

    &.ivu-icon-ios-arrow-down {
      @apply before:content-["\f116"];
    }
  }
}
